@model Paid_System_PS_.Models.PS_Common_purpose

@{
    ViewData["Title"] = "Create";
}

<h1>Cоздать</h1>

<h4>Общее назначение</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
            <label asp-for="ID" class="control-label"></label>
            <input asp-for="ID" class="form-control" />
            <span asp-validation-for="ID" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="Code_for_service" class="control-label"></label>
                <input asp-for="Code_for_service" class="form-control" />
                <span asp-validation-for="Code_for_service" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Decription" class="control-label"></label>
                <input asp-for="Decription" class="form-control" />
                <span asp-validation-for="Decription" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Typeof_Card" class="control-label"></label>
                <input asp-for="Typeof_Card" class="form-control" />
                <span asp-validation-for="Typeof_Card" class="text-danger"></span>
            </div>*@
        <div class="form-group">
            <label asp-for="Typeof_Card" class="control-label"></label>
            <span asp-validation-for="Typeof_Card" class="text-danger"></span>
            <select asp-for="Typeof_Card" id="ddlstate" class="form-control" asp-items="@ViewBag.Card"></select>
        </div>
            <div class="form-group">
                <input type="submit" value="Cоздать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Возврат к общему списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
