@model Paid_System_PS_.Models.PS_Reletions_Purp

@{
    ViewData["Title"] = "Create";
}

<h1>Создать</h1>

<h4>Отношения Назначений</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
            <label asp-for="Service_Purp" class="control-label"></label>
            <input asp-for="Service_Purp" class="form-control" />
            <span asp-validation-for="Service_Purp" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="Service_Purp" class="control-label"></label>
                <span asp-validation-for="Service_Purp" class="text-danger"></span>
                <select asp-for="Service_Purp" id="ddlstate" class="form-control" asp-items="@ViewBag.Service"></select>
            </div>
            @*<div class="form-group">
            <label asp-for="Common_Serv" class="control-label"></label>
            <input asp-for="Common_Serv" class="form-control" />
            <span asp-validation-for="Common_Serv" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="Common_Serv" class="control-label"></label>
                <span asp-validation-for="Common_Serv" class="text-danger"></span>
                <select asp-for="Common_Serv" id="ddlstate" class="form-control" asp-items="@ViewBag.Common"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Возврат к Общему списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
